.fz-10 {
   font-size: 10px;
}

.fz-11 {
   font-size: 11px;
}

.fz-12 {
   font-size: 12px;
}

.fz-13 {
   font-size: 13px;
}

.fz-14 {
   font-size: 14px;
}

.fz-15 {
   font-size: 15px;
}

.fz-17 {
   font-size: 17px;
}

.fz-18 {
   font-size: 18px;
}

.color-yellow {
   color: #fead00;
}

.f-bold {
   font-weight: bold;
}

.font-shadow {
   text-shadow: 0 1px 0 #000;
}

.text-shade {
   text-shadow: #000 1px 1px;
}

.progress {
   background-color: #1a1a1a;
   height: 15px;
   width: 100%;
   padding: 2px;
   margin: 5px 0 5px 0;
   border-radius: 5px;
   box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
   position: relative;

   .yellow {
      border-radius: 3px;
      height: 12px;
      background: url(../images/bar_energie.png);
   }

   .red1 {
      border-radius: 3px;
      height: 12px;
      background: url(../images/bar_xp.png);
   }

   .value-num {
      color: #fff;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 11px;
      padding-left: 5px;
      text-shadow: #000 1px 1px;
   }
}