/*=== abstracts css start === */
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(../images/achtergrond.jpg) no-repeat bottom center/cover;
}

.fz-10 {
  font-size: 10px;
}

.fz-11 {
  font-size: 11px;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-17 {
  font-size: 17px;
}

.fz-18 {
  font-size: 18px;
}

.color-yellow {
  color: #fead00;
}

.f-bold {
  font-weight: bold;
}

.font-shadow {
  text-shadow: 0 1px 0 #000;
}

.text-shade {
  text-shadow: #000 1px 1px;
}

.progress {
  background-color: #1a1a1a;
  height: 15px;
  width: 100%;
  padding: 2px;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  position: relative;
}
.progress .yellow {
  border-radius: 3px;
  height: 12px;
  background: url(../images/bar_energie.png);
}
.progress .red1 {
  border-radius: 3px;
  height: 12px;
  background: url(../images/bar_xp.png);
}
.progress .value-num {
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 11px;
  padding-left: 5px;
  text-shadow: #000 1px 1px;
}

.ca-border {
  height: 12px;
  background: url(../images/prikkeldraad.png) top left;
}

/*===// end of base css === */
/*=== layouts css start === */
/*===// end of layouts css === */
/*=== components css start === */
/*===// end of components css === */
/*===// start of page css === */
.all-wrapper {
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
}
.all-wrapper .header-top .separator {
  height: 88px;
  background: url(../images/content-top.png) no-repeat top left;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}
.all-wrapper .inner-contents-body {
  display: flex;
  align-items: start;
}
.all-wrapper .inner-contents-body .left-menu {
  min-width: 200px;
  max-width: 200px;
}
.all-wrapper .inner-contents-body .left-menu .name {
  padding: 10px 15px 15px 10px;
  background: url(../images/bg_naam.png) no-repeat left center;
}
.all-wrapper .inner-contents-body .left-menu .avatar {
  border: 1px solid #8f8f8f;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}
.all-wrapper .inner-contents-body .contents {
  margin-top: -10px;
  min-width: 800px;
  max-width: 800px;
  background: #ffffff;
  padding: 10px;
  background: url(../images/content-achtergrond-light.png);
}
.all-wrapper .inner-contents-body .contents .shade {
  position: absolute;
  left: 0;
  top: 0;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu {
  position: relative;
  z-index: 999;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu ul {
  padding: 0;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap .nav-pill {
  position: relative;
  padding-bottom: 3px;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap .nav-pill .nav-btn {
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
  padding: 7px 16px;
  margin: 0;
  border-radius: 0.7em;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap .nav-pill .nav-btn img {
  margin-right: 3px;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap .nav-pill ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: auto;
  background: #0d0d0d;
  border: solid 1px #000;
  border-radius: 5px;
  border-bottom: 5px solid #510805;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap .nav-pill ul li a {
  display: block;
  padding: 8px 30px 8px 16px;
  text-wrap: nowrap;
  color: #ffffff;
  font-weight: normal;
  width: 150px;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap .nav-pill ul li a:hover {
  background: #510805 url(./../images/muisover.png) no-repeat right center !important;
  color: #fff !important;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap .nav-pill.active .nav-btn {
  background-color: #1f1f1f;
  color: #FFF;
  border-top: solid 1px #f8f8f8;
  text-shadow: 0 1px 0 rgb(0, 0, 0);
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap .nav-pill:hover .nav-btn {
  background-color: #1f1f1f;
  color: #FFF;
  border-top: solid 1px #f8f8f8;
  text-shadow: 0 1px 0 rgb(0, 0, 0);
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap .nav-pill:hover ul {
  display: block;
}
.all-wrapper .inner-contents-body .contents .nav-bar-menu .menu-wrap a {
  font-size: 11px;
}
.all-wrapper .inner-contents-body .contents .content-nav {
  display: flex;
}
.all-wrapper .inner-contents-body .contents .content-nav .pill {
  position: relative;
}
.all-wrapper .inner-contents-body .contents .content-nav .pill a {
  padding: 10px;
  color: #625e5f;
  font: 11px Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  float: left;
}
.all-wrapper .inner-contents-body .contents .content-nav .pill.active {
  background: #f8f6f5;
  border: 1px solid #d6d6d6;
  border-bottom-color: rgba(0, 0, 0, 0);
}
.all-wrapper .inner-contents-body .contents .content-nav .pill.active::after {
  content: "";
  left: 0;
  top: 100%;
  width: 100%;
  height: 2px;
  position: absolute;
  background: #f8f6f5;
}
.all-wrapper .inner-contents-body .contents .content-nav .pill.active:hover::after {
  display: none;
}
.all-wrapper .inner-contents-body .contents .content-nav .pill:hover {
  border-bottom: 1px solid #5f0300;
}
.all-wrapper .inner-contents-body .contents .inner-wrapper {
  background-color: #f8f6f5;
  border: 1px solid #d6d6d6;
  padding: 10px;
}
.all-wrapper .inner-contents-body .contents .inner-wrapper .battery {
  border: 1px solid #d8d8d8;
  padding: 12px;
  background-color: #ececec;
}
.all-wrapper .inner-contents-body .contents .inner-wrapper .battery p {
  color: #444444;
}
.all-wrapper .inner-contents-body .contents .inner-wrapper .table .table-borderless td {
  padding: 2px;
}
.all-wrapper .inner-contents-body .contents .inner-wrapper table > :not(caption) > * > * {
  padding: 1px 8px;
}/*# sourceMappingURL=style.css.map */