.all-wrapper {
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;

    .header-top {
        .separator {
            height: 88px;
            background: url(../images/content-top.png) no-repeat top left;
            margin-top: -50px;
            position: relative;
            z-index: 2;
        }
    }

    .inner-contents-body {
        display: flex;
        align-items: start;

        .left-menu {
            min-width: 200px;
            max-width: 200px;

            .name {
                padding: 10px 15px 15px 10px;
                background: url(../images/bg_naam.png) no-repeat left center;
            }

            .avatar {
                border: 1px solid #8f8f8f;
                width: 160px;
                height: 160px;
                border-radius: 10px;
            }
        }

        .contents {
            margin-top: -10px;
            min-width: 800px;
            max-width: 800px;
            background: #ffffff;
            padding: 10px;
            background: url(../images/content-achtergrond-light.png);

            .shade {
                position: absolute;
                left: 0;
                top: 0;
            }

            // main dropdown menu
            .nav-bar-menu {
                position: relative;
                z-index: 999;

                ul {
                    padding: 0;
                }

                .menu-wrap {
                    padding: 0 8px;
                    display: flex;
                    justify-content: space-between;

                    .nav-pill {
                        position: relative;
                        padding-bottom: 3px;

                        .nav-btn {
                            font-weight: bold;
                            color: #000;
                            display: flex;
                            align-items: center;
                            padding: 7px 16px;
                            margin: 0;
                            border-radius: 0.7em;

                            img {
                                margin-right: 3px;
                            }
                        }

                        ul {
                            display: none;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            width: auto;
                            background: #0d0d0d;
                            border: solid 1px #000;
                            border-radius: 5px;
                            border-bottom: 5px solid #510805;

                            li {
                                a {
                                    display: block;
                                    padding: 8px 30px 8px 16px;
                                    text-wrap: nowrap;
                                    color: #ffffff;
                                    font-weight: normal;
                                    width: 150px;

                                    &:hover {
                                        background: #510805 url(./../images/muisover.png) no-repeat right center !important;
                                        color: #fff !important;
                                    }
                                }
                            }
                        }

                        &.active {
                            .nav-btn {
                                background-color: #1f1f1f;
                                color: #FFF;
                                border-top: solid 1px #f8f8f8;
                                text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
                            }
                        }

                        &:hover {
                            .nav-btn {
                                background-color: #1f1f1f;
                                color: #FFF;
                                border-top: solid 1px #f8f8f8;
                                text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
                            }

                            ul {
                                display: block;
                            }
                        }
                    }



                    a {
                        font-size: 11px;
                    }



                }


            }

            // contents nav
            .content-nav {
                display: flex;

                .pill {
                    position: relative;

                    a {
                        padding: 10px;
                        color: #625e5f;
                        font: 11px Arial, Helvetica, sans-serif;
                        text-decoration: none;
                        display: block;
                        float: left;
                    }

                    &.active {
                        background: #f8f6f5;
                        border: 1px solid #d6d6d6;
                        border-bottom-color: #00000000;

                        &::after {
                            content: "";
                            left: 0;
                            top: 100%;
                            width: 100%;
                            height: 2px;
                            position: absolute;
                            background: #f8f6f5;
                        }

                        &:hover {
                            &::after {
                                display: none;
                            }
                        }
                    }

                    &:hover {
                        border-bottom: 1px solid #5f0300
                    }

                }
            }

            // inner wrap
            .inner-wrapper {
                background-color: #f8f6f5;
                border: 1px solid #d6d6d6;
                padding: 10px;

                .battery {
                    border: 1px solid #d8d8d8;
                    padding: 12px;
                    background-color: #ececec;

                    p {
                        color: #444444;
                    }
                }


                .table {
                    .table-borderless {
                        td {
                            padding: 2px;
                        }
                    }
                }

                table>:not(caption)>*>* {
                    padding: 1px 8px;
                }
            }
        }
    }
}